.whiteText{
  color:white;
  font-weight: bold;
}

.main-menu a:FIRST-CHILD{
	padding-left: 0px;
}

.main-menu a{
	margin-right: 20px;
}

.logo{
	padding-top: 20px;
}

.search{
	padding-top: 30px;
}

.search .input-group-button input{
	background: #226688;
}

.secondary-navigation{
	padding-top: 10px;
	font-weight: bold;
	font-size: 0.9em;	
}

.secondary-navigation a{
	color: #226688;
}

.headings{
	padding-top: 20px;
	padding-bottom: 20px;
}

.headings h2{
	font-weight: bold;
}

.ternary-navigation a{
	color: #0088bb;
}
.ternary-navigation a:FIRST-CHILD{
	padding-left: 0px;
	font-size: .9em;
}

.heading-link{
	color: #0088bb;
}

.right-navigation{
	background: #226688;	
}
.right-navigation a{
	color: white !important;
}

.right-navigation li{
	padding: 5px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: white;
}